// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr:nth-child(2n) {
    background-color: #CCC;
}

table {
    text-align: center;
    border: none;
}

